.game-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  cursor: text;
}
.game-cell {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 80px;
  font-weight: 700;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: context-menu;
}
.game-cell.is-x {
  color: blue;
  cursor: text;
}
.game-cell.is-x {
  color: red;
  cursor: text;
}
.game-winner {
  padding: 25px;
  font-size: 25px;
  color: red;
}
